<h1><%= t("task.headline.list") %></h1>

<%= link_to t("task.headline.new_task"), new_task_path %>

<div>
<% @tasks.each do |task| %><br>
  <ul>
    <li><%= t("task.content.title") %>：<%= link_to task.title, task_path(task) %></li><br>
    <li><%= t("task.content.description") %>：<%= task.description %></li><br>
    <li><%= t("task.content.start_at") %>：<%= task.start_at %></li><br>
    <li><%= t("task.content.end_at") %>：<%= task.end_at %></li><br>
    <li><%= t("task.content.status") %>：<%= task.status %></li><br>
    <li><%= t("task.content.priority") %>：<%= task.priority %></li><br>
  </ul>

  <%= link_to t("task.action.edit"), edit_task_path(task) %>
  <%= link_to t("task.action.delete"), task_path(task), method: 'delete', data: {confirm: t("message.are_you_sure_to_delete", title: task.title) } %>
<% end %>
</div>

