<h1><%= @task.title %></h1>

<%= form_for @task, url: edit_task_path, method: 'get' do |f| %>

  任務名稱：<%= @task.title %> <br>
  任務描述：<%= @task.description %><br>
  開始時間： <%= @task.start_at %><br>
  結束時間：<%= @task.end_at %><br>
  任務狀態：<%= @task.status%><br>
  優先順序：<%= @task.priority %><br>

  <%= f.submit("編輯") %>
  <%= link_to '返回任務清單', tasks_path %>

<% end %>