<h1><%= @task.title %></h1>

<%= form_for @task, url: edit_task_path, method: 'get' do |f| %>

  <%= t("task.content.title") %>：<%= @task.title %> <br>
  <%= t("task.content.description") %>：<%= @task.description %><br>
  <%= t("task.content.start_at") %>： <%= @task.start_at %><br>
  <%= t("task.content.end_at") %>：<%= @task.end_at %><br>
  <%= t("task.content.status") %>：<%= t("status.#{@task.status}") %><br>
  <%= t("task.content.priority") %>：<%= t("priority.#{@task.priority}")  %><br>

  <%= f.submit(t("task.action.edit")) %><br>
  <%= link_to t("task.action.back"), root_path %>
<% end %>
